@import 'style/colors';
@import 'style/typography';
@import 'style/_nav.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page {
  min-height: 100vh;
  text-align: left;
  color: white;
  display: flex;
  flex-direction: column;
}

.pageContent {
  padding: 4.5em 1.5em 0;
  background: red;
  flex-grow: 1;
  background: rgba(#173b52, 0.9);
}

.clan {
  margin-bottom: 2em;
}

.list-item {
  background: lighten($color-dark-blue, 10%);
  padding: 0.25em 0.5em;
  margin: 0.25em 0;
}

.header {
  height: 12em;
  position: relative;
  border-bottom: 1px solid lighten($color-dark-blue, 10%);
}

.profile {
  position: absolute;
  width: 8em;
  left: 2em;
  bottom: -4em;

  &__image {
    background: white;
    width: 8em;
    height: 8em;
    border-radius: 50%;
    overflow: hidden;
    padding: 1em;
  }

  &__imageupload {
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
    background: $color-light-blue;
    box-shadow: 0 1px 6px rgba(black, 0.2);
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    background-image: url('/assets/icons/plus.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.leaderboard {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__nav {
    display: flex;
    justify-content: flex-start;
    background: darken($color-dark-blue, 10%);
    padding: 4.5em 0 0;
  }

  &__navelement {
    display: block;
    padding: 1em 0.5em;
    flex-basis: 33.333%;
    display: block;
    color: white;
    border-bottom: 3px solid transparent;

    &--active {
      background: darken($color-dark-blue, 15%);
      color: $color-yellow;
      border-bottom: 3px solid $color-yellow;
    }
  }

  &__list {
    display: block;
    flex-grow: 1;
    background: rgba($color-dark-blue, 0.9);
    list-style-type: none;
    color: white;
    padding: 2em 0em;
    text-align: left;
  }

  &__element {
    padding: 0.75em 1.25em;
    font-weight: 600;
    display: flex;
    align-items: baseline;
    border-bottom: 1px solid rgba(white, 0.2);

    &--active {
      background: rgba(black, 0.15);
    }

    &:first-of-type {
      border-top: 1px solid rgba(white, 0.2);
    }

    > div {
      flex-grow: 1;
    }
  }

  &__id {
    display: inline-block;
    width: 20px;
  }

  &__name {
    font-size: 1.25em;
    display: block;
    width: 100%;
  }

  &__score {
    font-size: 0.8em;
    display: block;
    margin-top: -0.25em;
    color: $color-yellow;
    font-weight: 700;
    width: 100%;
  }
}

*:focus {
  outline: none;
}
