@import 'style/colors';
@import 'style/typography';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.profile {
  position: relative;
  width: 10em;
  margin-top: -5em;
  margin-left: 1em;

  &__image {
    background: white;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    overflow: hidden;
    padding: 1em;
  }

  &__imagewrapper {
  }

  &__imageupload {
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
    background: $color-light-blue;
    box-shadow: 0 1px 6px rgba(black, 0.2);
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    background-image: url('/assets/icons/plus.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}
